<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2><strong>专业</strong> 技能</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6"> <img src="/static/img/about.png" class="img-responsive"> </div>
            <div class="col-md-6">
                <div class="about-text"> <i class="fa fa-html5"></i>
                    <div class="padding-left">
                        <h4>HTML/HTML5</h4>
                        <p>理解Web标准,熟练使用HTML的基本属性</p>
                        <p>熟悉HTML5新功能，编写结构清晰、语义化、 模块化、易维护的HTML/HTML5结构</p>
                        <p>熟悉HTML5/CSS3静态页面布局，能独立完成前端相关项目，对HTML语义化有较深刻的认知</p>
                    </div>
                    <i class="fa fa-css3"></i>
                    <div class="padding-left">
                        <h4>CSS/CSS3</h4>
                        <p>熟练运用CSS/CSS3/Less还原视觉设计</p>
                        <p>兼容主流浏览器，对常见的浏览器兼容性问题有一定的认识和解决办法</p>
                        <p>善用Bootstrap、Element-UI、iView、Ant Design等框架</p>
                    </div>
                    <i class="fa fa-etsy"></i>
                    <div class="padding-left">
                        <h4>Javascript/ES6</h4>
                        <p>熟悉原生JavaScript、ES6的编程，注重JavaScript性能优化</p>
                        <p>善用 jQuery、Angular1.x、Vue、React等框架,了解MVC和MV*模式,熟悉组件化开发</p>
                        <p>熟练使用JSON</p>
                    </div>
                    <i class="fa fa-cogs"></i>
                    <div class="padding-left">
                        <h4>其它</h4>
                        <p>熟练使用Svn和GitHub代码托管工具、NodeJs和Webpack构建工具</p>
                        <p>熟悉Developer Tools、ieTester、FireFox、DebugBar前端调试工具</p>
                        <p>熟练使用Axure实现网站原型设计</p>
                        <p>熟悉编辑器Eclipse、WebStorm、vscode、Sublime,能使用Photoshop进行简单图片处理</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>