
<div id="achivements" class="section dark-bg">
    <div class="container">
        <div class="section-title text-center center">
            <h2 style="color:#ddd">项目 <strong>作品</strong></h2>
            <hr>
        </div>
        <div class="row">
            <div>
                <section class="pc-banner">
                    <div id="text-description">
                        <div class="active">
                            <p>漏洞库平台</p>
                            <p>漏洞库平台用于技术类的漏洞信息互享、识别漏洞、动态更新漏洞，提供设备资产管理及漏洞风险检测服务和实时监测域名、IP、端口等服务是否可达服务；主要使用了HTML5、CSS3、Less、Angular1.x、Echarts、Bootstrap、webpack等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>虹领巾云防御</p>
                            <p>虹领巾云防御就是一些增强Web应用安全性的工具，本质上说就是对http协议进行分析过滤，主要功能站点管理、统计报告、用户管理、攻击态势等；主要使用了HTML5、CSS3、Less、Angular1.x、Echarts、Element-UI、webpack等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>iShare</p>
                            <p>iShare用于游戏管理分为用户平台（CP和移动端）和管理平台，包括游戏的上传下载，审核，上架下架，游戏的购买，费用的结算，游戏相关统计等；主要使用了HTML5、CSS3、Less、Vue、Echarts、iView、Element-UI、webpack等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>后发商城</p>
                            <p>后发商城类似苏宁的购物商城，包括商城（CP和移动端）和管理平台，商城主要是商品的展示与购买，管理平台主要是商品管理（如库存，上架，下架）；主要使用了HTML5、CSS3、Less、Angular1.x、Bootstrap、jQuery、AppCan等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>权限中心</p>
                            <p>权限中心实现精准的权限控制，清晰的分级管理，灵活的授权组合。主要分为从系统角度的权限控制，用户角度的权限控制，组织机构、后台管理四大板块；主要使用了HTML5、CSS3、Less、React、Redux、Echarts、webpack、Ant
                                Design等前端技术，Photoshop进行图片处理，兼容IE10+、Chrome、Firefor主流浏览器</p>
                        </div>
                        <div>
                            <p>指南树科技</p>
                            <p>指南树科技是某公司的公司官网用于公司的宣传（包含关于我们，产品介绍，服务客户，联系我们四个板块）；主要使用了HTML5、CSS3、Less、jQuery、Echarts、Bootstrap等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>试剂管理系统</p>
                            <p>用于医院实验室对于各种检测试剂的管理，包含了基本的OA系统，试剂管理，销售，采购，领用，调拨，库存，财务结算，以及各种综合查询等；主要使用了HTML5、CSS3、Less、jQuery、jQueryEasyUI、zTree、webpack等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>uTeach</p>
                            <p>uTeach是某培训机构的宣传网站（包含登录，注册，首页，学校风采，课程特色，视频学习，社区，学员作品等板块）；主要使用了HTML5、CSS3、Less、jQuery、Bootstrap等前端技术，Photoshop进行图片处理，兼容IE8+、Chrome、Firefor等主流浏览器</p>
                        </div>
                        <div>
                            <p>星图</p>
                            <p>是以Web站点安全情报大数据为核心，侧重数据可视化、支持多级数据钻取和源数据多角度展示的风险态势感知平台，为网络空间提供全面的风险态势感知预警监管；主要使用了HTML5、CSS3、Less、React、Redux、Echarts、webpack、Ant
                                Design等前端技术，Photoshop进行图片处理，兼容Chrome、Firefor主流浏览器</p>
                        </div>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper" id="swiper-loop">
                            <div class="swiper-slide swiper-slide-center none-effect"><a href="javascript:;"><img src="/static/img/opus1.jpg"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus2.jpg"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus3.jpg"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus4.png"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus5.png"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus6.png"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus7.jpg"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus8.png"></a></div>
                            <div class="swiper-slide"><a href="javascript:;"><img src="/static/img/opus9.jpg"></a></div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </section>
            </div>
        </div>
    </div>
</div>
