<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>联系 <strong>方式</strong></h2>
            <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-3">
                <i class="fa fa-google-plus fa-2x"></i>
                <p>denglan1991@gmail.com</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-envelope-o fa-2x"></i>
                <p>18030893186@163.com</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-phone fa-2x"></i>
                <p>iPhone:15208496743</p>
            </div>
            <div class="col-md-3">
                <i class="fa fa-map-marker fa-2x"></i>
                <p>四川省成都市成华区</p>
            </div>
            <hr>
            <div class="clearfix"></div>
        </div>
    </div>
</div>