<nav id="footer">
    <div class="container">
        <div class="pull-left fnav">
            <p>作者：邓岚. 前端工程师&nbsp;&nbsp;
                <a style="color:#F4D03F" href="https://my.oschina.net/dreamHarbour" target="_blank" title="个人博客">个人博客
                </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="color:#F4D03F" href="/static/resume/landeng.docx" title="个人简历">个人简历</a>
            </p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="https://github.com/DENGLAN" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://my.oschina.net/dreamHarbour" target="_blank"><i class="fa fa-tencent-weibo"></i></a></li>
                <li>
                    <a href="javascript:;"> <i class="fa fa-qq"></i></a>
                    <div class="codeBox"><img src="/static/img/team/QQ.png" alt="QQ"><i class="fa fa-caret-down"></i></div>
                </li>
                <li>
                    <a href="javascript:;"> <i class="fa fa-weixin"></i></a>
                    <div class="codeBox"><img src="/static/img/team/WX.png" alt="微信"><i class="fa fa-caret-down"></i></div>
                </li>
            </ul>
        </div>
    </div>
</nav>