<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-terminal"></i>
                前端工程师</a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">基本资料</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">专业技能</a>
                </li>
                <li>
                    <a class="page-scroll" href="#achivements">项目作品</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">工作经历</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">联系方式</a>
                </li>
            </ul>
        </div>
    </div>
</nav>