<div id="services" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>基本 <strong>资料</strong></h2>
            <hr>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-3 col-sm-6 service"> <i class="fa fa-laptop"></i>
                <h4><strong>个人信息</strong></h4>
                <p>
                    姓名：邓岚<br />
                    性别：女<br />
                </p>
            </div>
            <div class="col-md-3 col-sm-6 service"> <i class="fa fa-graduation-cap"></i>
                <h4><strong>学历专业</strong></h4>
                <p>
                    本科：经济学<br />
                    大专：模具设计与制造<br />
                </p>
            </div>
            <div class="col-md-3 col-sm-6 service"> <i class="fa fa-institution"></i>
                <h4><strong>毕业学校</strong></h4>
                <p>
                    本科学校：西南科技大学<br />
                    大专学校：四川机电职业技术学院
                </p>
            </div>
            <div class="col-md-3 col-sm-6 service"> <i class="fa fa-users"></i>
                <h4><strong>联系方式</strong></h4>
                <p>QQ：1129775363<br />
                    邮箱：18030893186@163.com</p>
            </div>
        </div>
    </div>
</div>