<div id="team" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2><strong>工作</strong> 经历</h2>
            <hr>
        </div>
        <div id="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail"> <img src="/static/img/team/houfa.png" class="img-circle team-img">
                    <div class="caption" style="text-align: left;">
                        <h3>后发商城</h3>
                        <p class="workName">网站开发</p>
                        <p>主要运用HTMl、CSS、Jquery、Angular等前端技术编写静态页面与交互，处理常见网页兼容问题。及获取后台推送JSON数据展示在页面上。</p>
                        <p>包括后发商城电商网站，后发商城后台管理系统，移动端后发商城</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail"> <img src="/static/img/team/zhidao.jpg" class="img-circle team-img">
                    <div class="caption" style="text-align: left;">
                        <h3>成都知道创宇信息技术有限公司</h3>
                        <p class="workName">WEB前端工程师</p>
                        <p>主要运用HTML5、CSS3、React、ES6、Echarts、Less、Nodejs等前端技术，编写静态页面与交互。及获取后台推送JSON数据展示在页面上。</p>
                        <p>包括星图，CloudEye等</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail"> <img src="/static/img/team/hele.jpg" class="img-circle team-img">
                    <div class="caption" style="text-align: left;">
                        <h3>成都禾诺信息技术有限公司</h3>
                        <p class="workName">WEB前端工程师兼前端负责人</p>
                        <p>统筹前端团队的开发进度和项目周期，解决开发过程中遇到的问题</p>
                        <p>主要运用HTML5、CSS3、jQuery、jQueryEasyUI
                            ，jQueryMobile、Echarts、Less等前端技术，编写静态页面与交互。及获取后台推送JSON数据展示在页面上。</p>
                        <p>包括试剂管理系统，微信公众平台，毛世通服装系统</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail"> <img src="/static/img/team/waibao.png" class="img-circle team-img">
                    <div class="caption" style="text-align: left;">
                        <h3>易思博 -- 长虹</h3>
                        <p class="workName">WEB前端工程师</p>
                        <p>主要运用HTML5、CSS3、React、Vue、Angular、ES6、Echarts、Less、Nodejs等前端技术，编写静态页面与交互。及获取后台推送JSON数据展示在页面上。</p>
                        <p>包括云尚行--权限中心，Web应用防火墙，云安全漏洞检测项目、iShare等</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>