#text-description div{
  display: none;
}
#text-description div>p{
  line-height: 30px;
  font-size: 14px;
  padding: 0 40px;
  text-align: left;
  text-indent: 2em;
  color: #ddd;
}
#text-description div>p:nth-child(1){
	line-height: 50px;
    font-size: 18px;
    text-align: center;
    text-indent: 0;
    color: #F4D03F;
    transition: all 0.5s;
    font-weight: 600;
}
#text-description .active{
  display: block;
}
.pc-banner {
  width: 100%;
  float: left;
  position: relative;
}

@media screen and (max-width: 668px) {
	.pc-banner {
		background-size: auto 100%;
	}
}

.swiper-container {
	width: 100%;
	margin: 35px 0;
}

@media screen and (max-width: 668px) {
	.swiper-container {
		margin: 20px 0 15px;
	}
}

.swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

@media screen and (max-width: 668px) {
	.swiper-slide {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}

.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

@media screen and (max-width: 668px) {
	.swiper-slide-active,.swiper-slide-duplicate-active {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}

.swiper-slide a {
	background: #fff;
	padding:10px;
	display: block;
	border-radius: 14px;
}

@media screen and (min-width: 668px) {
	.swiper-slide a:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		box-sizing: border-box;
		content: "";
		width: 100%;
		height: 100%;
		background: url('../img/top_slick_cover_bg01.png') 0 0 repeat;
		border-radius: 14px;
	}
}

.swiper-slide-active a:after {
	background: none;
}

@media screen and (max-width: 668px) {
	.swiper-slide a {
		padding: 5px;
		border-radius: 7px;
	}
}

.swiper-slide img {
  width: 100%;
  border-radius: 14px;
  display: block;
  height: 180px;
}

@media screen and (max-width: 668px) {
	.swiper-slide img {
		border-radius: 7px;
	}
}

.swiper-pagination {
	position: relative;
	bottom: 10px;
}

.swiper-pagination-bullet {
	background: #fff;
	margin-left: 4px;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	opacity: 1;
	margin-bottom: 0;
}

.swiper-pagination-bullet-active {
	width: 10px;
	height: 10px;
	background: #F4D03F;
	border: 5px solid #F4D03F;
	margin-bottom: 0;
}

@media screen and (max-width: 668px) {
	
	.swiper-pagination {
		position: relative;
		margin-bottom: 20px;
	}

	.swiper-pagination-bullet {
		background: #fff;
		margin-left: 2px;
		margin-right: 2px;
		width: 10px;
		height: 10px;
		margin-bottom: 2px;
	}

	.swiper-pagination-bullet-active {
		width: 10px;
		height: 10px;
		background: #F4D03F;
		border: 5px solid #F4D03F;
		margin-bottom: 2px;
	}
}


.button div:hover {
	background-color: #F4D03F;
}