<div>
    ${require('./view/navigation.html')}

    <!-- <navigation /> -->

    ${require('./view/intro-box.html')}

    <!-- <introBox /> -->

    ${require('./view/services.html')}

    <!-- <services></services> -->

    ${require('./view/about.html')}
    <!-- <about /> -->

    ${require('./view/achivements.html')}
    <!-- <achivements /> -->

    ${require('./view/team.html')}
    <!-- <team /> -->

    ${require('./view/contact.html')}
    <!-- <contact /> -->

    ${require('./view/footer.html')}
    <!-- <footer /> -->
</div>